.img__activiy{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70vh;
    width: 100%;
    height: 45vh;
    text-align: center;
    border-radius: 10px;
    padding: 0px;
    margin: 5em 2em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.img__activiy p{
    color:#FAFAF8;
    font-weight: 900;
    font-size: 3em;
    -webkit-text-stroke: 1px #334780;
    background-color: rgba(245, 245, 245, 0.4);
    padding: 0.1em 0.4em;
    border-radius: 5px;
    margin-bottom: 1em;
}

.container__activity{
    margin-top: 4em;
    display: flex;
    justify-content: space-around;
    background-color: #FAFAF8;
}

.not__Available{
    margin-top: 5em;
    background-image: url('../images/notActivities.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40vh;
    height: 32vh;
    margin-top: 5em;
    }

.not__Available p{
    font-size: 5em;
}

.comment__activity{
    background-color: #FAFAF8;
    margin: 1em 55em 4em;
    padding: 4em;
    border-radius: 10px;
    border: 2px solid #334780;
}

.comment__activity label{
    color: #334780;
    font-size: 1.3em;
    font-weight: bolder;
}

.comment__notRegistered{
    background-color: #FAFAF8;
    margin: 1em 55em 4em;
    padding: 4em;
    border-radius: 10px;
    border: 2px solid #334780;
}
.comment__notRegistered p{
    font-size: 2em;
    color: #334780;
}

.boton__send__comment{
    background-color: #334780;
    color: #EAB14D;
}

.boton__send__comment:hover{
    background-color: #EAB14D;
    color: #334780;
}

@media screen and (max-width: 768px){

    .comment__activity{
        background-color: #FAFAF8;
        margin: 5em  10em;
        padding: 3em;
        border-radius: 10px;
        border: 2px solid #334780;
    }


.comment__activity label{
    color: #334780;
    font-size: 1.2em;
    font-weight: bolder;
}

}