.footer__app{
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    padding: 5em;
    background-color: #EAB14D;
}

.logo__footer{
    width: 12em;
    margin-left: 5rem;
}

.footer__app a{
    color:#334780;
    margin: 2em;
    font-size: 1.6em;
    font-weight: bold;
}


.icons__footer a img{
    width: 2em;
    margin-right: 3em;
}

#icon__facebook{
    width: 1.3em;
}



@media screen and (max-width: 768px){


    .logo__footer{
        width: 8em;
        margin-left: -2rem;
    }
    
    .footer__app{
        display: flex;
        justify-content: space-between;
        margin-top: 10em;
        padding: 5em;
        background-color: #EAB14D;
    }

    .footer__app a{
        color:#334780;
        margin: 0.5em;
        font-size: 1.6em;
        font-weight: bold;
    }
    
    .icons__footer a img{
        width: 1.5em;
        margin-right: 0em;
    }
    

#icon__facebook{
    width: 1em;
}
}