*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  background-color: #FAFAF8;


}
body{
    font-family: 'Open Sans', sans-serif;
    background-color:whitesmoke rgb(255, 255, 255);
}

.footer-principal{
  background-color: #EAB14D;
}
.logo-principal-footer{
  width: 15em;
  padding: 0px;
}

#logo{
  margin-top: -30px;
}

.link-footer{
  color:#000000;
  font-weight: bold;
  font-size: 1.5em;
}

.card-cities-page{
  background-color: whitesmoke!important;
}

  
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #EAB14D!important;
    box-shadow: 0 1px 0 0 #EAB14D!important;
  }

  .input-field input[type=password]:focus {
    border-bottom: 1px solid #EAB14D!important;
    box-shadow: 0 1px 0 0 #EAB14D!important;
  }
  
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
  }

  .card-title{
    font-weight: bold!important;
    color: whitesmoke!important;
  }

  /* Firefox */
  ::placeholder {
    color: #334780!important;
    opacity: 0.5; 
    font-size: 0.9em;
    /* font-size: calc(0.6em + 0.6vw)!important; */
  }


  /* Internet Explorer 10-11 */
  /* :-ms-input-placeholder { 
    color: rgb(124, 123, 79)!important;
    font-size: calc(0.6em + 0.6vw)!important;
   }
    */

     /* Microsoft Edge */
   /* ::-ms-input-placeholder {
    color:rgb(124, 123, 79)!important;
    font-size: calc(0.6em + 0.6vw)!important;
   } */


   .material-icons.itinerary{
     color:#EAB14D;
     
   }

   .card-cities-page.container-fluid{
    padding: 1em;
    height: 35vh;
   }

.progress{
  background-color: whitesmoke!important;
}
 .indeterminate {

    background-color: #EAB14D!important;
}

.country__itinerary{
  height: 45vh;
  background-position: center;
  background-size: cover;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.img__notAvailable{
  width: 30vw;
}

@media screen and (max-width: 768px){

  .country__itinerary{
    height: 20vh;
  }

  .img__notAvailable{
    width: 70vw;
  }


}
