/* .link__nav{
    font-size: 1.6em;
}

.nav-principal{
    background-color: rgba(234, 177, 77,0.002)!important;
}

.right.hide-on-med-and-down{
    margin-right: 6em;
    margin-top: 3.5em;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: none!important;
}

.logo-principal.brand-logo{
    width: 14em;
    padding: 1em;
    margin-left: 4vw;
}

.icon-menu{
    color: #EAB14D!important;
}

.img-profile{
    margin-top: -1em;
    width:4vw;
    padding: 0px;
}

.img-profile-ref{
    padding: 1.5em 1.5em 1.5em 1.5em;
    margin-top: -0.5em;
}

.img-profile-ref:hover{
    background-color: rgba(252, 252, 252,0.001);
}

.dropdown-content li > a, .dropdown-content li > span {
   
    color: #5f3e04!important;
  
}

.sidenav {
    background-color: #EAB14D!important;
}

.container-message{
    background-image: url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
  } */


  .nav__performance{
      display: flex;
      justify-content: space-between;
      margin-top: 2em;
  }

  .nav__performance img{
      width: 20em;
      padding: 3em;
      margin-right: 4em;
  }

  .nav__performance ul a{
    padding: 1.5em;
    font-size: 2rem;
    color: #2F8F58;
  }

  .img__profile{
    width:8em!important;
    padding: 0px!important;
}

.dropdown-content li > a, .dropdown-content li > span {
   
    color: #2F8F58!important;
    font-size: 1.4em;
  
}