
nav{
    background-color:rgba(245, 245, 245,0.0002);
    height: 10vh;
}

.brand-logo img{
    width: 7em!important;
    padding: 0.5em;
}

.navLink__header{
    margin-top: 1em;
    color: #334780; 
    font-size: 1.8em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.navLink__header:hover{
    background-color: rgba(238, 130, 238, 0.00002);
    color: #EAB14D;
}

.img__profile{
    width: 6em;
    margin-right: 20.5em;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-small, .btn-floating, .dropdown-content, .collapsible, .sidenav {
    box-shadow: none!important;
}

.icon__menu{
    color:#EAB14D;
}


.select-dropdown li.disabled, .select-dropdown li.disabled > span, .select-dropdown li.optgroup {
    color: rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

@media screen and (max-width: 768px){
    .img__profile{
    width: 6em;
    margin-right: 5.5em;
    }

    .brand-logo img{
    width: 6em!important;
    padding: 0.5em;
    }

}


