.container__super__SignIn{
    display: flex;
    justify-content: space-around;
    background-color: #FDB94C;
    margin: 2em 10em 2em 10em;
    border-radius: 20px;
}

.container__signIn{
    width: 30%;
    padding: 3em;
    width: 30%;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    margin:10em;
    height: 50vh;
}  

.img__backgroud__signIn{
    background-image: url('../images/background__signIn.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70vh;
    height: 70vh;
    width: 60%;
}

.container__super__SignIn p{
    text-align: center;
    color: #334780;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 1em;
}

.container__signIn label{
    font-size: 1.7em;
    padding: 0px;
    font-weight: bolder;
    color: #334780;
   
}

#error__input{
    color: red;
    font-weight: bolder;
    font-size: 1.7em;
    padding-top: 1em ;
}

.button__signIn{
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #EAB14D;
    background-image: linear-gradient(to right, #334780 0%, #334780 100%) ;
    text-decoration: none;
    border-radius: .8rem;
    text-decoration: none;
}

.button__signIn:hover{
    background-image: linear-gradient(to right, #334780  0%, #EAB14D 100%);
    color: #ffffff;
}
.container__signIn__more{
    margin-top: 0.5em;
    font-size: 1.3em;
    text-align: center;
}

.container__signIn__more a{
    color: #334780;
}


@media screen and (max-width: 1500px){


    .container__signIn{
        width: 30%;
        padding: 4em;
        width: 40%;
        border: 5px solid whitesmoke;
        border-radius: 10px;
        margin:4em;
        height: 60vh;
    }  

}


@media screen and (max-width: 1068px){

    .img__backgroud__signIn{
        display: none;
     }
 
    .container__signIn{
        padding: 3em;
        width: 90%;
        border: 5px solid #FDB94C;
        border-radius: 10px;
        margin:1em;
        height: 60vh;
    }  

}


@media screen and (max-width: 768px){

    .img__backgroud__signIn{
       display: none;
    }

    .container__super__SignIn{
        margin: 3em 1.5em 3em 1.5em;
    }

    .container__signIn{
        padding: 3em;
        width: 90%;
        border: 5px solid #FDB94C;
        border-radius: 10px;
        margin:1em;
        height: 60vh;
    }  

}



